<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>The <strong>Pronik First</strong> is the web-aplication for show brief knowledge of <a href="https://www.facebook.com/dimka.pronik"><em>Owner</em></a></p>
<p>This application created with <a href="http://railstutorial.ru//">Ruby on Rails Tutorial</a></p>
