<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<h4>Dmyto Pron</h4>
	<ul style="list-style:none">
		<li>1pronik@gmail.com</li>
		<li><a href="https://www.facebook.com/dimka.pronik">Facebook</a></li>
		<li><a href="https://github.com/akapronik">Github</a></li>
	</ul>
