<h1 class="anime transition">Welcome</h1>
<h1 class="anime transition">to</h1>
<h1 class="anime transition">the</h1>
<h1 class="anime transition-opacity">Pronik <span class="red">B-DAY </span> Party</h1>

<h1 class="transition-opacity">

	<%= link_to image_tag("kkk.gif", size: "300x300" ), signup_path, id: "none" %>

</h1>
